@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
</div>


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/produtos.jpg" alt="Produto">
    <div class="card-body">
        <h5 class="card-title">Manutenção de produtos</h5>
        <div class="mt-4">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary btn-block">Criar novo produto</a>
            <a asp-controller="Product" asp-action="Index" class="btn btn-light btn-block">Exibir meus produtos</a>
        </div>
    </div>
</div>